h5 {
  display: inline-block;
  position: relative;
  letter-spacing: 0px;
  color: #10172c;
  opacity: 1;
}

h5:after {
  border-bottom: 4px solid #10172c;
  position: absolute;
  left: 35%;
  bottom: -15px;
  width: 20%;
  content: " ";
}

h2 {
  font: bold 75px;
  letter-spacing: 0px;
  color: #10172c;
  opacity: 1;
  padding-top: 30px;
}
