<div class="container w-75">
  <div class="h-100 p-5 text-center">
    <h1 class="display-5 fw-bold">Charaktere</h1>
  </div>

  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
    <div class="col mb-4" *ngFor="let charakter of charaktere; index as i">
      <div class="card border-0">
        <img src="./assets/images/ruin.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ charakter.name }}</h5>
          <p class="card-text">
            Geschlecht: {{ charakter.gender }} <br />
            Geburtsjahr: {{ charakter.birth_year }}
          </p>
          <a
            class="card-link"
            routerLink="/charakterdetail/{{ charakter.url | slice: start:end }}"
            routerLinkActive="active"
          >
            Mehr Informationen
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
