h5 {
  display: inline-block;
  position: relative;
  letter-spacing: 0px;
  color: #10172c;
  opacity: 1;
}

h5:after {
  border-bottom: 4px solid #10172c;
  position: absolute;
  left: 35%;
  bottom: -15px;
  width: 20%;
  content: " ";
}

h2 {
  font: bold 75px;
  letter-spacing: 0px;
  color: #10172c;
  opacity: 1;
  padding-top: 30px;
}

.paragraph {
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
}

.btn {
  border: none;
  background-color: #eee;
  cursor: pointer;
  color: #111;
  border-radius: 0;
  width: 128px;
  margin-bottom: 1em;
}

.btn:hover {
  background: gray;
}

summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

details summary::after {
  content: " display all ...";
  color: red;
  /* you can style it however you want, use background-image for example */
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::after {
  content: " 🡑";
  color: red;
}
